@media screen and (max-width: 800px){
 body{
    background-color: #F0EDDA;
 }
 .img1{
    width: 400px;
    height: 450px;
 }
 .quadrado1{
    margin-top: 90px;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
 }
 .img2{
    width: 428px;
    margin-left: -12px;
 }
 .titulo1{
   font-size: 30px;
 }
 .text1{
  font-size: 22px;
  width: 100%;
  text-align: justify;
 }
 .txt{
   width: 100%;
 }.img3{
   width: 428px;
   margin-left: -12px;
 }
 .img4{
   width: 428px;
   margin-left: -12px;
 }
 .img5{
   width: 428px;
   margin-left: -12px;
 }
 .name{
   color: red;
   text-align: center;
 }
 .img{
   margin-left: 150px;
 }
 .descrição-grupo{
   width: 100%;
   text-align: center;
 }
 .img8{
   width: 100%;
 }
 }