@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800;900&family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");

@media screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;

  }

  :root {
    --main-color: #f02425;
    --light-color: #f0edda;
    --text-color: #202024;
  }

  html {


    scroll-behavior: smooth;
  }

  body {
    background-color: var(--light-color);
    position: relative;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    padding: 5vw;
  }

  #header {
    font-family: 'Fraunces';
    font-size: 28px;
    margin-left: 10px;
    font-weight: bold;
  }

  .img {
    width: 33px;
    height: 23px;

  }

  #links2 {
    display: none;
  }

  main {
    max-width: 100%;
  }

  #links {
    display: none;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f02425;
    color: #f0edda;
    width: 85%;
    height: 250px;
    font-size: 15px;
  }

  .contact {
    background-color: #f0edda;
    color: #f02425;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    transition: 500ms;
    width: 140px;

  }

  .contact:hover {
    background-color: #a3a29a;
    transition: 500ms;
  }

  #header {
    color: #f02425;

  }

  .switch {
    position: absolute;
  }

  main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mf-doom {
    align-items: center;
    width: 100%;

  }

  .seta {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seta img {
  width: 10vw;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* top: 12.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        transition: 1s;
        width: 60px;
        height: 60px; */
  }


  .quadrado1 {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column-reverse;
  }

  .quadrado2 {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .img02 {
    margin-top: 50px;
    width: 100%;
  }

  .txt {
    margin-top: 40px;
    width: 90%;
    color: var(--text-color);
  }

  h1,
  h2 {
    font-family: 'Fraunces';


  }

  p {
    text-align: justify;
    font-family: 'Barlow';
  }

  .img03 {
    margin-top: 50px;
    width: 100%;
  }

  .quadrado-equipe {
    padding-top: 20px;
    margin-bottom: 20px;


  }


  .titulo {
    text-align: center;
    color: #f02425;
    margin-top: 30px;
  }

  .card-txt {
    text-align: center;
  }

  .txt2 {

    margin-top: 7%;
    width: 90%;
    color: var(--text-color);
  }

  .imgs-first {
    margin-left: 190px;
  }

  .cors-name {
    color: #f02425;
  }

  .quadrado-fotos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .quadrado-fotos img {
    width: 50%;
  }

  .img-first {
    width: 238px;
    height: 230px;
    margin-left: -5px;
  }

  .img-second {
    width: 234px;
    height: 230px;
    margin-left: -5px;
  }

  .img-there {
    width: 238px;
    height: 230px;
    margin-left: -5px;
    margin-top: -20px;
  }

  .img-bedroom {
    width: 234px;
    height: 230px;
    margin-left: -5px;
    margin-top: -10px;
  }

  .quadrado3 {
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 30px;


  }

  .img04 {
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(24, 23, 24, 0)),
      url("../img/image 4.png");
    width: 100%;
  }

  .img05 {
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(24, 23, 24, 0)),
      url("../img/image 5.png");
    width: 100%;

  }

  .img04,
  .img05 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
    align-items: center;
    justify-content: flex-end;
    color: #f0edda;
    cursor: pointer;
    transition: 500ms;
    height: 50%;

  }

  .img04 h2,
  .img05 h2 {
    font-family: "Fraunces";
  }

  .img04 p,
  .img05 p {
    font-family: "Barlow";
    width: 50%;
    text-align: center;
  }

  .img6 {
    margin-top: 6%;
  }

  .img7 {
    margin-top: 6%;
  }

  .img8 {
    margin-top: 6%;
  }

  .img9 {
    margin-top: 6%;
  }

  .h1 {
    margin-left: -70px;
  }

  .cors-name {
    margin-top: 20px;
  }

  .p {
    margin-top: 2%;
    text-align: center;
    color: var(--text-color);
  }

  footer {
    position: relative;
    background-color: var(--main-color);
    display: flex;
    height: 50vh;
    max-width: 100%;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -1%;
  }

  footer h2 {
    color: #f0edda;
    font-family: "Fraunces";
    font-size: 1.5rem;
  }

  .footer-links {
    display: flex;
    font-family: "Barlow";
    column-gap: 30px;
  }

  .footer-links a {
    text-decoration: none;
    text-align: center;
    color: #f0edda;
    font-size: 1rem;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .deco1,
  .deco2 {
    position: absolute;
  }

  .deco1 {
    width: 100px;
    height: 100px;
    left: 0;
    bottom: 0;
  }

  .deco2 {
    width: 80px;
    right: 0;
    bottom: 0;
  }

  .seta2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .seta2 img {
    width: 60%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 1s;
  }

  .switch {
    position: fixed;
    z-index: 1;
    right: 10px;
    bottom: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #202024;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked+.slider {
    background-color: #f0edda;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #141416;
  }

  input:checked+.slider:before {
    background-color: #202024;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


}